@import url('https://fonts.googleapis.com/css2?family=Sarala&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: #000000;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-imagem{
    height: 80px; 
}

.cabecalho-menu {
    display: flex;
    gap: 50px;
}

.cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    color: aquamarine;
    font-weight: 400;
    font-size: 18px;
}

.conteudo{
    margin-bottom: 48px;
    margin-top: 50px;
    border-top: 0.4px solid #ffffff;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-escrito-titulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 64px;
    color:#ffffff;
}

.conteudo-principal-escrito-subtitulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #ffffff;
}

.conteudo-principal-escrito-botao {
    background-color: aquamarine;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color:#000000;
    cursor: pointer;
}

.conteudo-principal-imagem {
    height: 430px; 
}

.conteudo2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
    color:#ffffff
}

.conteudo2-titulo{
    border-top: 0.4px solid #ffffff;
    padding-top: 48px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: aquamarine;
    margin-bottom: 16px;
}

.conteudo2-paragrafo {
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color:#ffffff;
}

.conteudo3{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
    color: aquamarine;
}

.conteudo3-titulo {
    border-top: 0.4px solid #ffffff;
    padding-top: 48px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: aquamarine;
    margin-bottom: 16px;
}

.conteudo3-paragrafo {
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color:#ffffff;
}

.conteudo4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
    color:#ffffff
}

.conteudo4-titulo {
    border-top: 0.4px solid #ffffff;
    padding-top: 48px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: aquamarine;
    margin-bottom: 16px;
}

.conteudo4-subtitulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color:#ffffff;
}

.conteudo5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
    color:#ffffff
}

.conteudo5-titulo {
    border-top: 0.4px solid #ffffff;
    padding-top: 48px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: aquamarine;
    margin-bottom: 16px;
}

.conteudo5-subtitulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color:#ffffff;
}

.conteudo6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
    color:#ffffff
}

.conteudo6-titulo {
    border-top: 0.4px solid #ffffff;
    padding-top: 48px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: aquamarine;
    margin-bottom: 16px;
}

.conteudo6-subtitulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color:#ffffff;
}

.home_button{
    display: block;
}

.home_button>button{
    margin: 15px;
}



    